body {
	background: url('../images/background.png') repeat center center #ffffff;
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
}

.jumbotron {
  background-image: url('../images/collector.jpg');
  background-size: cover;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}

.info {
	background-color: #fbe6cc;
	color: green;
	padding-top: 10px;
	font-size: 20px;
}

.calculations {
	margin-top: 20px;
}

#matchNumber {
	font-size: 48px;
}

#random {
	background-color: #5bc880;
	padding-top: 10px; 
	padding-bottom: 10px;
}

#total {
	background-color: #299f93;
	padding-top: 10px;
	padding-bottom: 10px;
}

#score {
	background-color: #4afdfe;
	padding-top: 10px;
	padding-bottom: 10px;
}

img {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-bottom: 100px;
}


