body {
	background: url('../images/background.png') repeat center center #ffffff;
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
}

.jumbotron {
  background-image: url('../images/collector.jpg');
  background-size: cover;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}

.info {
	background-color: #fbe6cc;
	color: green;
	padding-top: 10px;
	font-size: 20px;
}

.calculations {
	margin-top: 20px;
}

#matchNumber, #userTotal {
	font-size: 48px;
}

#random {
	background-color: #5bc880;
	padding-top: 10px; 
	padding-bottom: 10px;
}

#total {
	background-color: #299f93;
	padding-top: 10px;
	padding-bottom: 10px;
}

#score {
	background-color: #4afdfe;
	padding-top: 10px;
	padding-bottom: 25px;
}

img {
	height: 250px;
	width: 250px;
	margin-top: 20px;
	margin-bottom: 100px;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

img:hover {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
}



