body {
	background: url('../images/background.png') repeat center center #ffffff;
}

.jumbotron {
  background-image: url('../images/collector.jpg');
  background-size: cover;
  color: white;
}

.info {
	background-color: #fbe6cc;
	color: green;
	padding-top: 10px;
}

#random {
	background-color: #5bc880;
	padding-top: 10px; 
	padding-bottom: 10px;
}

#total {
	background-color: #299f93;
	padding-top: 10px;
	padding-bottom: 10px;
}

#score {
	background-color: #4afdfe;
	padding-top: 10px;
	padding-bottom: 10px;
}

